// Grid Extras
.init() when (@use_grid_extras = true) { 
    
    // Gutters helpers
    .no-gutters { margin-left: 0; /*margin-right: 0;*/ }
    .no-gutters > * { padding-left: 0; /*padding-right: 0;*/ }
    
    .half-gutters { margin-left: -(round(@gutter/2)); /*margin-right: -(round(@gutter/2));*/ }
    .half-gutters > * { padding-left: round(@gutter/2); /*padding-right: round(@gutter/2);*/ }
    
    .double-gutters { margin-left: -(round(@gutter*2)); /*margin-right: -(round(@gutter/2));*/ }
    .double-gutters > * { padding-left: round(@gutter*2); /*padding-right: round(@gutter/2);*/ }

    // Equal height columns
    .row.equal-height,
    [class^="block"].equal-height { display: table; }
    .row.equal-height > *,
    [class^="block"].equal-height > * { display: table-cell; }
    
    /* Modify the gutters to fit the available width */
    .justified-grid {
      text-align: justify;
    }

    .justified-grid:after{
        content: '';
        display: inline-block;
        width: 100%;
        height: 0;
        font-size:0;
        line-height:0;
    }

    .justified-grid > * {
      text-align: left;
    }
}